[submodule "client-sites/calmstorm-decks"]
	path = client-sites/calmstorm-decks
	url = https://github.com/lossless-group/calmstorm-decks.git
	branch = development
[submodule "client-sites/reach-edu-hub"]
	path = client-sites/reach-edu-hub
	url = https://github.com/lossless-group/reach-edu-hub.git
	branch = main
[submodule "client-sites/chroma-decks"]
	path = client-sites/chroma-decks
	url = git@github.com:lossless-group/chroma-decks.git
	branch = development
[submodule "client-sites/humain-vc-decks"]
	path = client-sites/humain-vc-decks
	url = https://github.com/lossless-group/humain-vc-decks.git
	branch = development
[submodule "corpus"]
	path = corpus
	url = https://github.com/lossless-group/dddecks-corpus.git
	branch = development
[submodule "client-sites/lossless-decks"]
	path = client-sites/lossless-decks
	url = https://github.com/lossless-group/lossless-decks.git
	branch = development
